*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Raleway-bold';
  src: url("./fonts/Raleway-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Raleway-regular';
  src: url("./fonts/Raleway-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Raleway-light';
  src: url("./fonts//Raleway-Light.ttf") format("truetype");
}
h1,h2,h3,h4,h5,h6{font-family: 'Raleway-Bold';}
html{scroll-behavior: smooth;}